# 企业微信配置
CORPID=
CORPSECRET=
AGENTID=

# 微信测试号配置
APPID=
APPSECRET=
USERID=
TEMPLATEID=

# 和风天气Key
QWEATHER=
# 天气预报地址（格式：省/市-市/县/区，多地址以&&分隔）
CITY=

# 纪念日名称（每年都有的日子，多日期以&&分隔）
TARGETNAME=
# 纪念日日期（公历格式20XX-XX-XX，农历年份前加n）
TARGETDAY=

# 单日项目名称（只有某一年有的日子，多日期以&&分隔）
BEGINNAME=
# 单日日期
BEGINDAY=

# 图文类型（1为单图文，2为多图文，默认单图文）
MSGTYPE=1

# 自定义头图链接（务必以http:// 或 https:// 开头，多链接&&分隔随机选取）
PIC=
# 随机图片类型（默认fengjing。可选：meizi, dongman, fengjing, suiji, none）
PICTYPE=

# 自定义标题
TITLE=
# 自定义第一段内容
CONTENT=
# 自定义称呼
CALL=

# 外部配置
YQCITY=
TIAN=
LINK=
